<!DOCTYPE html>
<html>
  <head>
    <title>Football Helper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
  </head>

  <body>
    
    <% if notice.present? %>
      <div class="notice">
        <p> <%= notice %> </p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert">
        <p> <%= alert %> </p>
      </div>
    <% end %>

<%= before_login('shared/main') %>
    <div class="container-fluid">
      <div class="row">
      <%= after_login('shared/navbar') %>
      <div class="col offset-2 mt-5" id="main">
        
        <div class="row">
          <div class="col-7 bg-light"> 
            <%= yield %> 
          </div>
            <%= different_path_partial %>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
